setuptools
django
djangorestframework
django-cors-headers
python_dotenv
qrcode
Pillow
mysqlclient
drf-yasg
djangorestframework-simplejwt
zeep
requests
aiohttp
asyncio
django-redis
requests
reportlab
arabic_reshaper
python-bidi



